html, body {
    height: 100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.column {
    padding: 1%;
    text-align: center;
}

h1 {
    font-variant: small-caps;
    text-align: center;
    color: #c9d1d9;
}

h2 {
    color: #c9d1d9;
}

a {
    color: #c9d1d9;
}

a:hover{
    color:#58a6ff;
}

p{
    color: #c9d1d9;
}

ul {
    color: #c9d1d9;
    margin: 2px;
    text-align: left;
    padding-left: 35%;
}

th {
    color: #c9d1d9;
    font-variant: small-caps;
    font-size: x-large;
}

form {
    color: #c9d1d9;
}

.textinput {
    width: 80%;
    padding: 9px 14px;
    border-radius: 6px;
    background-color: #30363d;
    color: #c9d1d9;
    font-size: large;
    border-style: solid;
    border-color: #c9d1d9;
    border-width: 2px;
    border-radius: 5px;
}

.splitform {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    text-align: left;
}

.formcolumn {
    margin: 10px;
}
label {
    font-size: larger;
}
#checkboxcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navmenucontainer {
    display: flex;
    justify-content: center;
}

.menu {
    text-align: center;
    color: #c9d1d9;
    margin: 2px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    border-style: solid;
    border-color: #30363d;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.decoimage {
    max-width: 500px;
    height: auto;    
}

.disclaimer {
    color: #8b949e;
}

footer {
    flex-shrink: 0;
}

#submit {
    text-align: center;
    font-weight:bolder;
    font-size:larger;
    color: #c9d1d9;
    background-color: #0d1117;
    margin: 2px;
    padding: 10px;
    margin: 20px;
    width: 110px;
    border-style: solid;
    border-color: #30363d;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    transition-duration: 0.4s;
}

#submit:hover {
    background-color: #c9d1d9;
    color: #0d1117;
}

.imagetable {
    border-style: solid;
    border-color: #30363d;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#servicestext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lorem {
    max-width: 1000px;
}
